body{
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  justify-content: space-between;
  background: maroon;
  color: white;
}
#butto{
  margin-right: 30px;
  display: flex;
}
#butto a{
  text-decoration: none;
  color: white;
  display: flex;
  margin-right: 20px;
}
span{
  display: none;
}
#goo {
  display: none;
}
@media (max-width: 480px) {
  #butto {
    display: none;
  }
  span{
    display: block;
  }

}